body {
	font-family: 'Poppins', sans-serif;
}
h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 72px;
    width: 370px;
    height: 355px;
    flex-shrink: 0; 
  margin-bottom: 70px;
}


img{position: absolute;
  margin-right: 40px;
    width: 642.977px;
    height: 569.451px;
  Top:100px;
Left:650.5px;
    flex-shrink: 0; 
    background: url(<path-to-image>), rgb(211, 211, 211) -389.066px -182.935px / 204.859% 155.655% no-repeat;
  Width:642.98px
}

background: url(incendiary-fantastically-beautiful-girl-coat-eco-fur-moves-fun-picture-lovely-lady-pink-clothes-removebg-preview.png);

p{
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px; 
  margin-bottom: 5px;
    width: 600px;
    height: 40px;
  letter-spacing: 2px; 
}

.mi-boton {
  font-family: 'Poppins';
    background-color: #000000; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
  Line height: 33.75px;
    font-size:22.5px; 
    cursor: pointer; 
  Letter:-5%;
margin-top: 20px;
}

.hero{
    width: 1280px;
  Height:640px;
    padding-top: 30px;
    padding-left: 75px;
    border-radius: 40px;
    padding-bottom: 0px;
    background-color: #F4F6F5;
    background-image: url(../img/image.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.hero__body{
    width: 450px;
}